@media (min-width: 1800px) {
	.banner-content-outer h1 {
		font-size: 100px;
		max-width: 660px;
	}
}

@media (max-width: 1199px) {}

@media (min-width: 992px) {
	.transformationWrapper .row {
		margin-left: -35px;
		margin-right: -35px;
	}

	.transformationWrapper [class*="col-"] {
		padding: 0 35px;
	}
}

@media (max-width: 991px) {
	.logo {
		width: 250px;
		display: block;
	}

	.sticky .logo {
		width: 240px;
	}

	.nav_holder {
		padding: 10px 0;
	}

	.hdr_menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 400px;
		transform: translateX(100%);
		background: #fff;
		overflow-y: auto;
		transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
		padding: 10px 15px 20px;
		z-index: 99;
	}

	.hdr_menu ul {
		padding-top: 50px;
	}

	.hdr_menu ul li {
		width: 100%;
		transition: all 0.4s ease-in-out;
	}

	.hdr_menu ul li.menu-item-has-children .sub-menu {
		display: block;
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		padding: 0px 10px 0;
		background-color: transparent;
		box-shadow: none;
		transform: none;
		transition: initial !important;
		-webkit-transition: initial !important;
	}

	.hdr_menu ul li.menu-item-has-children ul li {
		padding: 7px 0;
		line-height: 1.5;
	}

	.hdr_menu li {
		margin-right: 0;
		padding-right: 0;
		border: 0;
		margin-bottom: 5px;
	}

	.hdr_menu li a {
		font-size: 17px;
		font-weight: 400;
		display: block;
		color: #000000;
		padding: 5px 0;
	}

	.hdr_menu li a:hover {
		color: #688238 !important;
	}

	.hdr_menu li a::before {
		display: none;
	}

	.hdr_menu li:hover a {
		color: #000000 !important;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a {
		color: #000;
		font-size: 16px;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a:hover {
		color: #688238;
		padding-left: 0;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item>a {
		color: #688238;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item>a:hover {
		color: #688238;
	}

	.hdr_menu li>a::after {
		display: none;
	}

	.sticky .hdr_menu li.current-menu-item a {
		color: #688238;
	}

	.sticky .hdr_menu li:hover a {
		color: #688238;
	}

	.sticky .hdr_menu li a {
		color: #000000;
		background-color: transparent;
	}

	.menu_btn {
		width: 30px;
		display: block;
	}

	.menu_btn span {
		height: 2px;
		display: block;
		background: #ffd362;
		margin-left: auto;
		transition: 0.4s;
	}

	.menu_btn span:nth-child(2) {
		width: 80%;
	}

	.menu_btn span+span {
		margin-top: 5px;
	}

	.menu_trigger {
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 100;
		transform: translateY(-50%);
	}

	.mobile_menu_active {
		overflow: hidden;
	}

	.mobile_menu_active .menu_trigger {
		right: 20px;
		top: 25px;
		transform: none;
		position: fixed;
	}

	.mobile_menu_active .hdr_menu {
		transform: translateX(0px);
	}

	.mobile_menu_active .overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 30;
	}

	.mobile_menu_active .menu_btn span {
		background: #ffd362;
	}

	.mobile_menu_active .menu_btn span:first-child {
		transform: rotate(45deg);
	}

	.mobile_menu_active .menu_btn span:last-child {
		transform: rotate(-45deg);
	}

	.mobile_menu_active .menu_btn span:nth-child(2) {
		display: none;
	}

	.mobile_menu_active .menu_btn span+span {
		margin-top: -2px;
		width: 100%;
	}

	.mobile_menu_active .hddr_inr {
		position: static;
	}

	.mobile_menu_active .sticky .nav_holder {
		position: fixed;
	}

	.mobile_menu_active .nav_inr {
		position: static;
	}

	.overlay {
		overflow: hidden;
	}

	.nav_inr {
		position: relative;
	}

	.sub_menu_opener {
		display: block;
		pointer-events: none;
	}

	.responisve-logo {
		display: block;
		width: 270px;
	}

	.responisve-logo img {
		-webkit-filter: brightness(0);
		filter: brightness(0);
	}

	.header-social-list-outer {
		display: none;
	}

	.header-social-list-outer.responsive-header-social-btn {
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
	}

	.responsive-menu-additional-components {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.hdr_menu li.menu-item-has-children .sub-menu li.current-menu-item a {
		padding-left: 0;
	}

	.header-cta-btn {
		margin-right: 50px;
	}

	.service-slider-outer .swiper-nav {
		padding: 0 20px;
	}

	.ourStoryWrapper .section-heading {
		max-width: 100%;
		margin-left: 0;
		margin-top: 35px;
	}

	.whyUsWrapper .row,
	.ourProjectWrapper .row,
	.transformationWrapper .row {
		gap: 30px 0;
	}

	.transformationPic,
	.transformationPic img {
		width: 100%;
		max-width: 100%;
	}

	.ourHelpWrapper .section-heading {
		max-width: 100%;
		margin-bottom: 30px;
	}

}

@media (max-width: 767px) {
	body {
		font-size: 16px;
		line-height: 26px;
	}

	.input-field {
		margin-bottom: 15px;
	}

	.banner-wrapper .banner-text {
		position: relative;
		z-index: 2;
	}

	.banner-wrapper .banner-text h1 {
		font-size: 32px;
	}

	.section-heading h2 {
		font-size: 28px;
		margin-bottom: 15px;
	}

	.container {
		padding: 0 20px;
	}

	.banner-content-outer .btn {
		min-width: auto;
	}

	.btn,
	.basic-btn {
		font-size: 16px;
		line-height: 1.4;
		padding: 11px 24px;
	}

	.section-padding {
		padding: 50px 0;
	}

	.testimonialWrapper .section-heading {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.testimonialWrapper .section-heading .dataLeft {
		width: 100%;
	}

	.testimonialWrapper .section-heading h2 {
		text-align: center;
		margin-bottom: 30px;
	}

	.testimonialWrapper .dataRight .yelpReview {
		min-width: auto;
	}

	.header-cta-btn .btn {
		padding: 6px 14px;
		min-width: auto;
		font-size: 15px;
	}

	.logo,
	.sticky .logo {
		width: 130px;
	}

	.banner-wrapper .banner-video {
		height: 60vh;
		min-height: 600px;
	}

	.service-we-offer-wrapper .section-heading .d-flex {
		flex-direction: column;
		gap: 30px 0;
	}

	.section-heading.mb-50 {
		margin-bottom: 30px;
	}

	.service-slider-outer .service-slide-card .data {
		padding: 20px 20px;
		margin: -20px 0 0 0;
		border-radius: 0 0 15px 15px;
	}

	.service-slider-outer .service-slide-card .data h3 {
		font-size: 23px;
	}

	.service-slider-outer .service-slide-card .data h3::after {
		display: none;
	}

	.ourStoryWrapper::before {
		display: none;
	}

	.ourProjectBox .projectData .locationHolder figure {
		max-width: 100px;
	}

	.ourHelpWrapper .section-heading {
		text-align: center;
	}

	.ourTeamWrapper .videoHolder {
		height: 750px;
	}

	.testimonialSlider .testimonialBox .reviewText p {
		font-size: 16px;
	}

	.testimonialWrapper .contact-form-outer {
		margin-top: 50px;
	}

	.testimonialWrapper .formHolder,
	.testimonialWrapper .formHolder::before {
		border-radius: 12px;
	}

	.testimonialWrapper .formHolder .formTitleHolder h3 {
		font-size: 26px;
	}

	.testimonialWrapper .formHolder .formTitleHolder p {
		font-size: 16px;
	}

	.section-heading p {
		font-size: 16px;
	}

	.footer-top-row>[class*="col-"]:nth-child(2),
	.footer-top-row>[class*="col-"]:nth-child(3),
	.footer-top-row>[class*="col-"]:last-child {
		padding-left: 20px;
		padding-top: 0;
	}
}